@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&family=Playfair+Display:ital,wght@1,400;1,600&display=swap');

/* Header */
body {
    font-family: 'Chivo', sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #DADED4;
}

.main {
    display: flex;
    background-image: url(succulent.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    color:#3c403d ;
}

nav {
    border-bottom: 1px solid #39603d;
    margin: 0 250px;
}

a:hover {
    font-size: 18px;
}

.info {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: auto;
    padding: 10px;
}

#discription {
    text-align: center;
    font-size: 15px;
    margin-left: 30px;
}

#discription h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}

#bold {
    font-size: 20px;
    color: #39603d;
}


form {
    text-align: center;
    font-size: 16px;
}

form h3 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

input {
    background-color: #DADED4;
    border: 1px solid #39603d;
}

button {
    margin: 5px;
    background-color: #3c403d;
    color:#DADED4;
    border: none;
}